
/* პირობა#3 */
/* .counter-container {
    text-align: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
  }
  

  .count-display {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  

  .increment-button,
  .decrement-button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
  }
  
 
  .increment-button:hover,
  .decrement-button:hover {
    background-color: #0056b3;
  } */
  
/* პირონა#1 */
/* .app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .app-input {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .app-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .app-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    width: 300px;
  }
  
  .app-task {
    background-color: #f4f4f4;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
   */